.app__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
    color: white;
}

.app__footer__logo {
    width: 3rem;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.app__made__by {
    margin-top: 25px;
    margin-bottom: 30px;
}