.landing__content > h1 {
    position: relative;    
    color: #FFF;
    text-align: center;
    font-weight: 700;
    font-size: 3rem;
}

.landing__content > h2 {
    position: relative;    
    color: #FFF;
    text-align: center;
    font-weight: 400;
    font-size: 1.5rem;
    margin: 1rem auto;
}

.landing__content > h3 {
    position: relative;    
    color: #FFF;
    text-align: center;
    font-weight: 400;
    font-size: 1.2rem;
}