.landing {
    position: relative;
    height: 100%;
    background: url("https://assets.nflxext.com/ffe/siteui/vlv3/7a33204b-893d-4792-8494-b9d6cbc73848/07f253c5-a6e2-4559-9504-7e56c6a8aead/US-en-20210502-popsignuptwoweeks-perspective_alpha_website_large.jpg") center no-repeat;
    background-size: cover;
}

.landing__logo {
    position: absolute;
    left: 0;
    top: 15px;
    width: 115px;
    object-fit: contain;
    cursor: pointer;
    padding-left: 20px;
    z-index: 1;
}

.signin__button {
    position: absolute;
    right: 20px;
    top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #e50914;
    cursor: pointer;
    border: none;
    z-index: 1;
}

.landing__gradient {
    width: 100%;
    z-index: 1;
    height: 100vh;
    /* object-fit: contain; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.landing__body {
    top: 30%;
    z-index: 1;
    color: #fff;
    padding: 20px;
}

.landing__input {
    margin: 20px;
    text-align: center;
}

.landing__input > form > input {
    padding: 10px;
    outline-width: 0;
    height: 2rem;
    width: 62%;
    border: none;
    margin-top: 10px;
}

.landing__getStarted {
    font-size: 1rem;
    padding: 17px 20px;
    color: #fff;
    background-color: #e50914;
    border: none;
    font-weight: 600;
    cursor: pointer;
    margin-left: 2px;
    margin-top: 10px;
}

.landing__card {
    background: rgba(0, 0, 0, 0.4);
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.8) 100%);
    /* max-height: 500px; */
}

.landing__content > h1 {
    position: relative;    
    color: #FFF;
    text-align: center;
    font-weight: 700;
    font-size: 3rem;
}

.landing__content > h2 {
    position: relative;    
    color: #FFF;
    text-align: center;
    font-weight: 400;
    font-size: 1.5rem;
    margin: 1rem auto;
}

.landing__content > h3 {
    position: relative;    
    color: #FFF;
    text-align: center;
    font-weight: 400;
    font-size: 1.2rem;
}