.nav {
  z-index: 1;
  position: fixed;
  top: 0;
  padding: 20px;
  height: 30px;
  transition-timing-function: ease-in;
  transition: all 0.5s;
  right: 0px;
  left: 0px;
}

.nav__contents {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  width: 100px;
  cursor: pointer;
  object-fit: contain;
}

.nav__avatar {
  width: 30px;
  cursor: pointer;
  height: 35px;
}

.nav__black {
  background-color: black;
}
