.profile {
    height: 100vh;
    color: white;
}

.profile__body {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 120px;
    max-width: 800px;
}

.profile__info {
    display: flex;
}

.profile__details {
    color: white;
    flex: 1;
    margin-left: 20px;
}

@media (max-width: 1024px) {

    .profile__body {
        display: flex;
        flex-direction: column;
        width: 70%;
        margin-left: auto;
    }    

    .profile__info {
        display: flex;
        flex-direction: column;
    }

    .profile__info > img {
        height: 90px;
        width: 90px;
    }

    .profile__details {
        color: white;
        flex: 1;
        margin-left: 0;
    }    

    .profile__details > h2 {
        margin-top: 20px;
        background-color: gray;
        font-size: 15px;
        padding-left: 20px;
    }
}

.profile__body > h1 {
    font-size: 2rem;
    font-weight: 400;
    border-bottom: 1px solid #282c2d;
    margin-bottom: 20px;
}

.profile__details > h2 {
    background-color: gray;
    padding: 15px;
    font-size: 15px;
    padding-left: 20px;
}

.profile__info > img {
    height: 90px;
}

.profile__signOut {
    padding: 10px 20px;
    font-size: 1rem;
    margin-top: 5%;
    width: 100%;
    color: #fff;
    background-color: #e50914;
    cursor: pointer;
    border: none;
}

.profile__plans {
    margin-top: 20px;
}

.profile__plans > h3 {
    border-bottom: 1px solid #282c2d;
    padding-bottom: 10px;
}