.profile {
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profile__info {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.profile__details {
    color: white;
    flex: 0.5;
}

h1 {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 15px;
}

.profile__details > h2 {
    background-color: gray;
    padding: 15px;
    font-size: 15px;
    padding-left: 20px;
    margin-top: 54px;
}

.profile__avatar {
    height: 90px;
}

.profile__signOut {
    padding: 10px 20px;
    font-size: 1rem;
    margin-top: 5%;
    width: 100%;
    color: #fff;
    background-color: #e50914;
    cursor: pointer;
    border: none;
}

.profile__plans > h3 {
    margin-top: 20px;
}

.profile__plans > h3 {
    border-bottom: 1px solid #282c2d;
    padding-bottom: 10px;
}