.signUp {
    max-width: 300px;
    padding: 70px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(0, 0, 0, 0.75);
    height: 500px;
    width: 600px;
}

.signUp > form > h1 {
    text-align: left;
    margin-bottom: 25px;
    font-weight: 500;
}

.signUp > form > h4 {
    text-align: left;
    margin-top: 30px;
}

.signUp__gray {
    color: gray;
}

.signUp__link {
    cursor: pointer;
}

.signUp__link:hover {
    text-decoration: underline;
}

.signUp > form {
    display: grid;
    flex-direction: column;
}

.signUp > form > input {
    padding: 10px;
    outline-width: 0;
    height: 40px;
    margin-bottom: 14px;
    border-radius: 5px;
    border: none;
    padding: 5px 15px;
    background : #333333; 
    color: white;
}

.signUp > form > button {
    padding: 16px 20px;
    font-size: 1rem;
    color: #fff;
    border-radius: 5px;
    background-color: #e50914;
    font-weight: 600;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}